<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" class="rejestracja-form">
    <h2 class="text-center text-primary animated-header">Rejestracja</h2>
    <hr>

    <div class="mb-3 radio-group">
        <label class="form-check-label animated-radio">
            <input type="radio" class="form-check-input" value="mezczyzna" formControlName="Gender">Mężczyzna
        </label>
        <label class="form-check-label animated-radio">
            <input type="radio" class="form-check-input" value="kobieta" formControlName="Gender">Kobieta
        </label>
    </div>

    <div class="mb-3 form-floating input-group">
        <input type="text" [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="form-control" formControlName="username" placeholder="Login">
        <label>Login</label>
        <div class="invalid-feedback">Proszę wprowadzić Login</div>
    </div>

    <div class="mb-3 form-floating input-group">
        <input type="text" [class.is-invalid]="registerForm.get('Initials')?.errors && registerForm.get('Initials')?.touched" class="form-control" formControlName="Initials" placeholder="Nazwa Użytkownika">
        <label>Imię i Nazwisko</label>
        <div class="invalid-feedback">Podaj nazwę, jaką chcesz używać</div>
    </div>

    <app-choices-births [formControl]="$any(registerForm.controls['DateOfBirth'])" [maxDateadmissible]="maxDateadmissible" [label]="'DateOfBirth'"></app-choices-births>

    <div class="mb-3 form-floating input-group">
        <input type="text" [class.is-invalid]="registerForm.get('PhoneNumber')?.errors && registerForm.get('PhoneNumber')?.touched" class="form-control" formControlName="PhoneNumber" placeholder="PhoneNumber">
        <label>Numer Telefony</label>
        <div class="invalid-feedback">Prosze wprowadzic numer telefonu</div>
    </div>

    <div class="mb-3 form-floating input-group">
        <input type="text" [class.is-invalid]="registerForm.get('Profession')?.errors && registerForm.get('Profession')?.touched" class="form-control" formControlName="Profession" placeholder="Profession">
        <label>Zawód jaki wykonuje</label>
        <div class="invalid-feedback">Proszę wprowadź czym się zajmujesz</div>
    </div>

    <div class="mb-3 form-floating input-group">
        <input class="form-control" [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched" type="password" name="password" formControlName="password" placeholder="Hasło">
        <label>Hasło</label>
        <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback">Proszę wprowadzić hasło</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback">Hasło musi składać się przynajmniej z 4 znaków</div>
        <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="invalid-feedback">Hasło nie może być dłuższe niż 16 znaków</div>
    </div>

    <div class="mb-3 form-floating input-group">
        <input class="form-control" [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Potwierdź Hasło">
        <label>Powtórz Hasło</label>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback">Proszę powtórzyć hasło</div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('IsMaching')" class="invalid-feedback">Hasła muszą być takie same</div>
    </div>

    <div class="alert alert-danger" *ngIf="validationErrors?.length">
        <ul>
            <li *ngFor="let error of validationErrors; trackBy: trackByIndex">{{error}}</li>
        </ul>
    </div>

    <div class="form-group text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Zarejestruj</button>
        <button class="btn btn-default me-2" (click)="cancel()" type="button">Anuluj Rejestracje</button>
    </div>
</form>
