
.menu-btn {
    font-size: 30px; 
    color: white;
    background-color: #343a40;
    border: none;
    position: fixed;
    top: 20px;
    left: 10px; 
    z-index: 100;
    opacity: 1; 
    transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    padding: 10px; 
    border-radius: 5px;
  }
  
  .menu-btn.open {
    left: 250px; 
  }
  
  .menu-btn:hover {
    opacity: 1; 
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    z-index: 99;
    left: -250px; 
    width: 250px; 
    height: 100%;
    background-color: #343a40; 
    overflow-y: auto;
    transition: 0.3s;
    padding-top: 20px;
  }
  
  .sidebar.open {
    left: 0; 
  }
  
  .user-avatar {
    width: 50px;  
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px; 
  }
  
  .formularz-logowania {
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 50px; 
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .sidebar .navbar-nav .nav-item {
    margin-bottom: 20px; 
  }
  
  .sidebar .navbar-nav .nav-link {
    font-size: 18px;  
    font-weight: bold; 
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .sidebar .navbar-nav .nav-link:hover {
    background-color: #495057; 
    transform: scale(1.05); 
  }
  
  .sidebar .navbar-nav .nav-link.active {
    background-color: #495057;
    border-radius: 5px;
  }
  
 
  .dropdown-toggle {
    color: white;
  }
  
  .dropdown-menu {
    background-color: #343a40;
  }
  
  .dropdown-item {
    color: white; 
  }
  
  .dropdown-item:hover {
    background-color: #495057; 
  }
  